# Ignore files without extensions
*
!/**/
!*.*
!/doc/Doxyfile

# Release folders
/Release/*
*/Release/*
*/*/Release/*
*/*/*/Release/*

# Debug folders
/Debug/*
*/Debug/*
*/*/Debug/*
*/*/*/Debug/*

# Visual Studio user files
*.vs/
*.user
*.sdf
*.suo

# Ignore log files
*.log
/Test/decompiled.txt
/Test/debug_out.txt
/Test/decompiled_objects.txt

# Generated docs
/doc/html
