[submodule "submodules/CoreLibrary"]
	path = submodules/CoreLibrary
	url = https://github.com/IIIM-IS/CoreLibrary.git
[submodule "AERA/IODevices/TCP/AERA_Protobuf"]
	path = AERA/IODevices/TCP/AERA_Protobuf
	url = https://github.com/IIIM-IS/AERA_Protobuf.git
